@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>One Night Webolution</h1>
    <p class="lead">A test of SignalR, implementing the game One Night Revolution</p>
    <p><a href="/home/play" class="btn btn-primary btn-lg">Play &raquo;</a></p>
</div>

<div class="container">
    <input type="hidden" id="displayname" />
</div>