
@{
    ViewBag.Title = "Play";
}
<script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/Scripts/signalr.js"></script>
<!--These hidden fields are used to store ids for signalr-->
<div id="playerid" class="hidden"></div>
<div id="gameid" class="hidden"></div>

<div class="row">
    <div id="partyName"></div>
</div>

<div class="row">
    <div id="playerName">Play</div>
</div>

<div class="row">
    <div id="rolebox"></div>
    <div id="specialist"></div>
</div>

<div class="row">
    <label>Party Name</label>
    <input type="text" id="partyname" />
</div>

<div class="row">
    <label>Player Name</label>
    <input type="text" id="playerNameInput" />
</div>
<div class="row">
    <input type="button" id="join" value="Join" />

    <input type="button" id="startbutton" value="Start Game" />
</div>

<div class="row">
    <div id="otherplayers">

    </div>
</div>